<!DOCTYPE html>

<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Montserrat|Patua+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  </head>

  <body>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand" style="color: #fff"><div style="font-family: 'Patua One', cursive">Venda/Doação de Livros</div></div>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/" style="color: #fff">Home</a></li>
          <li><a href="/books" style="color: #fff">Livros</a></li>
          <li><a href="#" style="color: #fff">About</a></li>
          <li><a href="#" style="color: #fff">Contato</a></li>
        </ul>
      </div>
    </nav>

    <form>
      
      <div class ="container">  
      <div class="col-sm-7">      
          <div class="page-header">
            <strong><h1>Entrar</h1></strong>
          </div>
          <div class="card" style="width: 35rem;">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" name="user[email]" placeholder=" Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" placeholder="Password" name="user[password]" id="user_password">
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <button name="commit" data-disable-with="Log in" type="submit" class="btn btn-success" value="Log in">Log in</button>
            <a href="/users/sign_up" type="submit" class="btn btn-primary">Sign up</a>
            <br>
            <br>
            <a href="/users/password/new">Forgot your password?</a>
          </div>
        </div>
      </div>
      </div>
    </form>

    <% end %>

  </body>

</html>
