<!DOCTYPE html>

<html lang="pt-br">

	<head>
		
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/style.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link href="https://fonts.googleapis.com/css?family=Abel|Montserrat|Patua+One" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

	</head>

	<body>

		<nav class="navbar navbar-inverse">
      		<div class="container-fluid">
        		<div class="navbar-header">
        			<div class="navbar-brand" style="color: #fff"><div style="font-family: 'Patua One', cursive">Venda/Doação de Livros</div></div>
        		</div>
        		<ul class="nav navbar-nav">
        			<li><a href="/" style="color: #fff">Home</a></li>
        			<li><a href="/books" style="color: #fff">Livros</a></li>
        			<li><a href="#" style="color: #fff">Sobre</a></li>
        			<li><a href="#" style="color: #fff">Contato</a></li>
        		</ul>
                <form class="form-inline my-2 my-lg-0">
        			<% if user_signed_in? %>
        			 	<button class="btn btn-primary navbar-btn"><%= link_to "Perfil", user_path(current_user) %></button>
        				<button class="btn btn-danger navbar-btn"><%= link_to "Sair", destroy_user_session_path, method: :delete %></button>
        			<% else %>
        			 	<button class="btn btn-success navbar-btn my-2 my-sm-0"><%= link_to "Entrar", user_session_path %></button>
        			<% end %>
                </form>
      		</div>
    	</nav>
    	
    	<div class="container">
    		<h1>Perfil</h1>
    		<div class="col-sm-7">
      			<h2>Meus dados</h2>
      			<hr>      
      			<label>Email:</label>
      			<%= @user.email %>
      			<br>
      			<br>
      			<button type="submit" class="btn btn-primary">Editar dados</a>
      		</div>

      		<div class="col-sm-7">
      			<br>
      			<br>
      			<h2>Meus livros anunciados</h2>
      			<hr>      
      			<% @user_books.each do |books| %>
					<strong><%= link_to books.titulo, books %></strong><br>
				<% end %>
      		</div>
      	</div>
			
	</body>

</html>

