<%= form_with model: book, local: true, url: books_path, html: { multipart: true } do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <br>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <br>
    <%= form.text_area :descricao %>
  </div>

  <div class="field">
    <%= form.label :opcao %>
    <%= form.select :opcao, [['Vender'],['Doação']], :prompt => "Selecione" %>
    <%= form.label :preco %> <%= form.text_field :preco %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <br>
    <%= form.text_field :categoria %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <br>
    <%= form.text_field :autor %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
