<!DOCTYPE html>

<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Montserrat|Patua+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  </head>

  <body>
  	
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand" style="color: #fff"><div style="font-family: 'Patua One', cursive">Venda/Doação de Livros</div></div>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/" style="color: #fff">Home</a></li>
          <li><a href="/books" style="color: #fff">Livros</a></li>
          <li><a href="#" style="color: #fff">Sobre</a></li>
          <li><a href="#" style="color: #fff">Contato</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <% if user_signed_in? %>
          <button class="btn btn-primary navbar-btn"><%= link_to "Perfil", user_path(current_user) %></button>
          <button class="btn btn-danger navbar-btn"><%= link_to "Sair", destroy_user_session_path, method: :delete %></button>
        <% else %>
          <button class="btn btn-success navbar-btn"><%= link_to "Entrar", user_session_path %></button>
        <% end %>
      </form>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-9">
        <h2><%= @book.titulo %></h2>
        <hr> 
      </div>
      <div class="row">
      <div class="col-md-4">
        <%= image_tag @book.image.url(:medium) %>
      </div>
      <div class="col-md-4"> 
        <h2>Contato:</h2>
        <p>
          <strong>Email do anunciante:</strong>
          teste@teste.com
        </p>
        <hr>
        <h2>Detalhes do livro:</h2>
        <p>
          <strong>Autor:</strong>
          <%= @book.autor %>
        </p> 
        <p>
          <strong>Categoria:</strong>
          <%= @book.categoria %>
        </p> 
        <p>
          <strong>Descrição:</strong>
          <%= @book.descricao %>
        </p>
        <p>
          <strong>Opção:</strong>
          <%= @book.opcao %>
        </p>
        
        <button type="submit" class="btn btn-primary"><%= link_to 'Edit', edit_book_path(@book) %></a>
        <button type="submit" class="btn btn-danger"><%= link_to 'Excluir', @book, method: :delete, data: { confirm: 'Você tem certeza?' } %></a>
      </div>
      </div>
    </div>
  </body>

</html>


