.font-tit{
	font-family: 'Patua One', cursive;
	color: #000;
}
.font-tumb{
	font-family: 'Abel', sans-serif;
}
.font-add{
	font-size: 18px;
	font-family: 'Abel', sans-serif;
}
.bt{
	top: 5px;
	right: 100px;
	width: 130px;
	height: 40px;
	background: #34f315;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Abel', sans-serif;
	border: none;
	border-radius: 5px;
	color: #fff;
	position: absolute;
}
.fundo{
	background-image: url(livro2.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	padding-bottom: 282px;
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto
}	