.header-site{
	background-image: url(livro.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	padding-bottom: 282px;
}
.bw-gradient{
	width: 100%;
	height: 600px;
	position: absolute;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
	filter: proggid;
}
.brand-quote{
	color: #fff;
	font-family: 'Patua One', cursive;
	font-size: 50px;
	padding-top: 120px;
	padding-left: 150px;
	position: relative;
}
.brand-quot{
	color: #fff;
	font-family: 'Patua One', cursive;
	font-size: 50px;
	padding-left: 150px;
	position: relative;
}
.para{
	width: 500px;
	font-family: 'Abel', sans-serif;
	color: #fff;
	font-size: 16px;
	position: relative;
	top: 20px;
	padding-left: 150px;
}